@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "daisyui" {
  themes: [ "light"];
  dark-theme: "light";
}

:root {
  --primary-color: #1e1e1e;
  --secondary-color: #f0f0f0;
  --gradient-start: #4158d0;
  --gradient-middle: #c751c0;
  --gradient-end: #ffcb70;
}
.font-bestley {
  font-family: "Besley", serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary-color);
  background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0) 0%,
      transparent 80%
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.25 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    rgba(65, 88, 208, 1) 0%,
    rgba(199, 81, 192, 1) 50%,
    rgba(255, 203, 112, 1) 100%
  );
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  padding: 0.05em 0;
}

.b h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
