---
import How from "./How.astro";

const sections = [
  {
    title: "Développement Personnel et Professionnel",
    description: "Boostez votre confiance, apprenez à mieux gérer votre temps et développez des soft skills essentielles pour évoluer sereinement dans votre carrière.",
    borderColor: "var(--gradient-start)"
  },
  {
    title: "Leadership & Management",
    description: "Apprenez à motiver, fédérer et gérer une équipe avec efficacité. Nos formations vous donnent les clés pour piloter des projets et prendre des décisions stratégiques.",
    borderColor: "var(--gradient-middle)"
  },
  {
    title: "Communication & Prise de Parole",
    description: "Maîtrisez l'art de la communication orale pour captiver votre audience. Que ce soit pour des présentations, des entretiens ou des réunions, nous vous formons à une prise de parole impactante et persuasive.",
    borderColor: "var(--gradient-end)"
  },
  {
    title: "Compétences Numériques & Bureautiques",
    description: "Devenez à l'aise avec les outils numériques et les logiciels indispensables du monde professionnel. Excel, Word n'auront plus de secret pour vous.",
    borderColor: "var(--gradient-start)"
  },
  {
    title: "Langues étrangères & Certifications",
    description: "Améliorez votre maîtrise des langues et obtenez des certifications reconnues à l'international. Anglais, espagnol, français… Nos cours vous permettent de progresser rapidement.",
    borderColor: "var(--gradient-middle)"
  }
];
---

<article class="py-16 px-4 md:px-40 2xl:px-96">
  <h2 class="text-2xl md:text-3xl font-semibold font-bestley mb-12 text-white pl-2">
    Nos formations
  </h2>
  <p class="text-white pl-2">Nous vous accompagnons dans des domaines variés :</p>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    {sections.map(section => (
      <section class="flex flex-col p-6 border-2 text-white rounded-bl-2xl rounded-tr-2xl mx-2 mt-6" style={`border-color: ${section.borderColor}`}>
        <h3 class="text-xl font-bold pb-4">{section.title}</h3>
        <p class="text-sm">{section.description}</p>
      </section>
    ))}
  </div>

  <section class="bg-white rounded-bl-2xl rounded-tr-2xl md:rounded-bl-4xl md:rounded-tr-4xl mx-2 mt-12 md:col-span-full overflow-hidden">
    <div class="md:flex md:items-center md:justify-between">
      <header class="flex flex-col justify-center items-center gap-4 p-6 md:w-1/2 md:items-start md:pl-12">
        <h2 class="text-xl font-bold pb-4 gradient-text md:text-4xl">Toutes les formations du groupe CP Academy</h2>
        <button onclick="window.location.href='/#formations'" class="btn border border-black bg-none md:mt-5 rounded-bl-2xl rounded-tr-2xl w-fit hover:bg-black hover:text-white">
          Découvrir
        </button>
      </header>
      <div class="md:w-1/2 md:h-full md:m-0 md:p-0">
        <img src="/src/assets/coiffeuse.png" class="w-full h-full object-cover md:h-64" alt="Coiffeuse">
      </div>
    </div>
  </section>
  <How />
</article>

<style>
  .gradient-bg {
    background: linear-gradient(
      45deg,
      rgba(65, 88, 208, 0.8) 0%,
      rgba(199, 81, 192, 0.8) 50%,
      rgba(255, 203, 112, 0.8) 100%
    );
  }
</style>