<header class="bg-primary text-white pt-32 flex justify-center px-4 pb-4">
    <h1 class="text-3xl font-black leading-tight flex flex-col max-w-lg">
        Ne laissez pas votre <span class="gradient-text">avenir au hasard,</span>
        <span class="text-white text-sm font-medium pt-2">utilisez votre CPF pour évoluer dès aujourd'hui !</span>
    </h1>
</header>
<section class="py-4 gradient-bg text-white px-8 mt-6">
    <p>"Dans un monde en constante évolution, se former est essentiel pour progresser, se reconvertir ou renforcer ses compétences. CP ACADEMY est votre partenaire de confiance pour atteindre vos objectifs professionnels grâce à des formations certifiées et financées par le CPF."
    </p>
</section>

<section class="flex flex-col p-6 border-2 border-[var(--gradient-start)] text-white rounded-tl-2xl rounded-br-2xl m-6 mt-12">
    <h3 class="text-2xl font-bold pb-4 font-bestley">Qui sommes-nous ?</h3>
    <p class="text-sm">CP ACADEMY est une organisme de formation dédié aux particuliers souhaitant évoluer professionnellement. Nous proposons des <span class="font-bold">parcours d’apprentissage de qualité</span>, adaptés aux exigences du marché de l’emploi.</p>
</section>

<style>
    .gradient-bg {
        background: linear-gradient(
            45deg,
            rgba(65, 88, 208, 0.8) 0%,
            rgba(199, 81, 192, 0.8) 50%,
            rgba(255, 203, 112, 0.8) 100%
        );
    }
</style>