---
const steps = [
  {
    number: 1,
    bg: "./src/assets/quarter-blue.svg",
    title: "Sélectionnez la formation qui correspond à vos besoins et aspirations"
  },
  {
    number: 2,
    bg: "./src/assets/quarter-pink.svg",
    title: "Nous vous guidons dans la démarche CPF pour un financement total ou partiel"
  },
  {
    number: 3,
    bg: "./src/assets/quarter-yellow.svg",
    title: "Débutez votre formation et faites évoluer votre carrière !"
  }
];
---

<section>
  <h2 class="font-bestley font-bold text-white text-xl my-10 pl-2">Comment ça marche ?</h2>
  
  <div class="flex flex-col md:flex-row md:gap-10">
    {steps.map((step) => (
      <div class="py-5 mx-2">
        <div class="relative flex items-center justify-center">
          <img src={step.bg} alt={step.title} class="w-20 h-20 object-cover" />
          <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-4xl font-bold font-montserrat">
            {step.number}
          </span>
        </div>
        <p class="text-center text-white py-5 font-semibold text-sm font-montserrat 2xl:px-16">{step.title}</p>
      </div>
    ))}
  </div>
</section>
