---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mentions Légales - CP Academy">
  <main class="mx-auto px-10 mentions-legales text-white">
    <h1 class="text-3xl font-bestley mb-8 md:text-4xl">Mentions Légales</h1>
    
    <div class="space-y-8">
      <section>
        <h2 class="text-xl font-bold mb-4">1. Informations légales</h2>
        <p>Le site CP Academy est édité par :</p>
        <ul class="list-disc ml-6 mt-2 space-y-2">
          <li>Raison sociale : CP Academy</li>
          <li>Forme juridique : SASU</li>
          <li>Siège social : 20 rue jean mermoz, 33185 Le Haillan</li>
          <li>SIRET : 942 288 259 00016</li>
          <li>Numéro de TVA intracommunautaire : FR94942288259</li>
        </ul>
      </section>

      <section>
        <h2 class="text-xl font-bold mb-4">2. Propriété intellectuelle</h2>
        <p class="mb-4">L'ensemble du contenu de ce site (textes, images, vidéos, etc.) est protégé par le droit d'auteur. Toute reproduction ou représentation, totale ou partielle, de ce site par quelque procédé que ce soit, sans autorisation expresse, est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>
      </section>

      <section>
        <h2 class="text-xl font-bold mb-4">3. Protection des données personnelles</h2>
        <p class="mb-4">Conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi Informatique et Libertés, vous disposez d'un droit d'accès, de rectification, de suppression et d'opposition aux données personnelles vous concernant.</p>
        <p>Pour exercer ces droits, vous pouvez nous contacter :</p>
        <ul class="list-disc ml-6 mt-2">
          <li>Par email : contact@cpacademy.fr</li>
          <li>Par courrier : 20 rue jean mermoz, 33185 Le Haillan</li>
        </ul>
      </section>

      <section>
        <h2 class="text-xl font-bold mb-4">4. Cookies</h2>
        <p class="mb-4">Le site utilise des cookies pour améliorer l'expérience utilisateur. En navigant sur ce site, vous acceptez l'utilisation de cookies conformément à notre politique de confidentialité.</p>
      </section>

      <section>
        <h2 class="text-xl font-bold mb-4">5. Loi applicable</h2>
        <p class="mb-4">Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
      </section>
    </div>
  </main>
</Layout>

<style>
    .mentions-legales {
        padding-top: 12rem;
    }
</style>