<header class="flex flex-col justify-center items-center pt-5 px-8">
    <img src="/src/assets/logo.svg" class="md:hidden w-40 h-40">
    <h1 class="text-lg"><span class="gradient-text">Développez</span> vos <span class="gradient-text">compétences, investissez</span> en vous même !</h1>
    <img src="/src/assets/hero-coif.png" class="w-full img-rounded mt-8 mb-8">
    <p class="text-center text-white text-sm md:text-base"><span class="font-bold">Transformez votre avenir professionnel</span> grâce à des formations éligibles au Compte Personnel de Formation (CPF). <span class="font-bold">Profitez d’un financement à 100%</span> et accédez à des programmes conçus pour booster votre carrière !</p>
</header>

<style>
    h1 {
        color: white;
    }

    .img-rounded {
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
</style>